Connected to Pandas (Python 3.11.5)

In [1]:
import sqlite3
import pandas as pd

excel_salary = '/Users/pedrochavez/Desktop/Krypton/salary_data_states.xlsx'

In [2]:
df = pd.read_excel(excel_salary)

In [3]:
print(df)

               CASE_NUMBER          CASE_STATUS CASE_RECEIVED_DATE  \
0       I-200-14073-248840               denied          3/14/2014
1            A-15061-55212               denied          3/19/2015
2       I-200-13256-001092               denied          9/13/2013
3       I-200-14087-353657               denied          3/28/2014
4       I-203-14259-128844               denied          9/16/2014
...                    ...                  ...                ...
167273  I-200-12241-209885  certified-withdrawn          8/28/2012
167274  I-200-11305-143547               denied          11/1/2011
167275  I-200-11313-833007            certified          11/9/2011
167276  I-200-11312-798611               denied          11/8/2011
167277  I-200-11297-523711               denied         10/24/2011

       DECISION_DATE                                      EMPLOYER_NAME  \
0          3/21/2014                ADVANCED TECHNOLOGY GROUP USA, INC.
1          3/19/2015                     SAN FRANCISCO STATE UNIVERSITY
2          9/23/2013                                    CAROUSEL SCHOOL
3           4/7/2014  HARLINGEN CONSOLIDATED INDEPENDENT SCHOOL DIST...
4          9/23/2014                        SIGNAL SCIENCES CORPORATION
...              ...                                                ...
167273      6/6/2013           CHINESE BIBLE CHURCH INTERNATIONAL, INC.
167274     11/3/2011           CHINESE BIBLE CHURCH INTERNATIONAL, INC.
167275    11/16/2011           CHINESE BIBLE CHURCH INTERNATIONAL, INC.
167276    11/15/2011           CHINESE BIBLE CHURCH INTERNATIONAL, INC.
167277    10/26/2011           CHINESE BIBLE CHURCH INTERNATIONAL, INC.

        PREVAILING_WAGE_SUBMITTED PREVAILING_WAGE_SUBMITTED_UNIT  \
0                      6217100.00                           year
1                      5067600.00                           year
2                      4947000.00                           year
3                       251052.00                          month
4                        84573.00                      bi-weekly
...                           ...                            ...
167273                       5.05                           hour
167274                       5.05                           hour
167275                       5.05                           hour
167276                       5.05                           hour
167277                       5.05                           hour

        PAID_WAGE_SUBMITTED PAID_WAGE_SUBMITTED_UNIT  \
0                  62171.00                     year
1                  91440.00                     year
2                  49470.00                     year
3                  43800.00                     year
4                 170000.00                     year
...                     ...                      ...
167273                 5.60                     hour
167274                 5.25                     hour
167275                 5.25                     hour
167276                 5.10                     hour
167277                 5.05                     hour

                               JOB_TITLE  ...  \
0                      SOFTWARE ENGINEER  ...
1       Assistant Professor of Marketing  ...
2              SPECIAL EDUCATION TEACHER  ...
3                        SCIENCE TEACHER  ...
4               SENIOR SOFTWARE ENGINEER  ...
...                                  ...  ...
167273            MIDDLE SCHOOL TEACHERS  ...
167274                 PRESCHOOL TEACHER  ...
167275                           TEACHER  ...
167276                 PRESCHOOL TEACHER  ...
167277                 PRESCHOOL TEACHER  ...

                                PREVAILING_WAGE_SOC_TITLE  \
0                       Software Developers, Applications
1                        Business Teachers, Postsecondary
2       Special Education Teachers, Kindergarten and E...
3              Biological Science Teachers, Postsecondary
4                   Software Developers, Systems Software
...                                                   ...
167273  Middle School Teachers, Except Special and Car...
167274       Preschool Teachers, Except Special Education
167275               Teachers and Instructors, All Other*
167276       Preschool Teachers, Except Special Education
167277       Preschool Teachers, Except Special Education

                      WORK_STATE WORK_STATE_ABBREVIATION WORK_POSTAL_CODE  \
0                       Illinois                      IL              NaN
1                     California                      CA          94132.0
2                     California                      CA              NaN
3                          Texas                      TX              NaN
4                         Oregon                      OR              NaN
...                          ...                     ...              ...
167273  Northern Mariana Islands                      MP              NaN
167274  Northern Mariana Islands                      MP              NaN
167275  Northern Mariana Islands                      MP              NaN
167276  Northern Mariana Islands                      MP              NaN
167277  Northern Mariana Islands                      MP              NaN

        FULL_TIME_POSITION_Y_N      VISA_CLASS PREVAILING_WAGE_PER_YEAR  \
0                            y            H-1B                      NaN
1                          NaN       greencard                      NaN
2                            y            H-1B                      NaN
3                            y            H-1B                      NaN
4                            y  E-3 Australian                      NaN
...                        ...             ...                      ...
167273                       y            H-1B                  10504.0
167274                       y            H-1B                  10504.0
167275                       y            H-1B                  10504.0
167276                       y            H-1B                  10504.0
167277                       y            H-1B                  10504.0

       PAID_WAGE_PER_YEAR   JOB_TITLE_SUBGROUP   order
0                 62171.0    software engineer       1
1                 91440.0  assistant professor       2
2                 49470.0              teacher       3
3                 43800.0              teacher       4
4                170000.0    software engineer       5
...                   ...                  ...     ...
167273            11648.0              teacher  167357
167274            10920.0              teacher  167358
167275            10920.0              teacher  167359
167276            10608.0              teacher  167360
167277            10504.0              teacher  167361

[167278 rows x 27 columns]

In [4]:
print(df.columns)

Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_RECEIVED_DATE', 'DECISION_DATE',
       'EMPLOYER_NAME', 'PREVAILING_WAGE_SUBMITTED',
       'PREVAILING_WAGE_SUBMITTED_UNIT', 'PAID_WAGE_SUBMITTED',
       'PAID_WAGE_SUBMITTED_UNIT', 'JOB_TITLE', 'WORK_CITY',
       'EDUCATION_LEVEL_REQUIRED', 'COLLEGE_MAJOR_REQUIRED',
       'EXPERIENCE_REQUIRED_Y_N', 'EXPERIENCE_REQUIRED_NUM_MONTHS',
       'COUNTRY_OF_CITIZENSHIP', 'PREVAILING_WAGE_SOC_CODE',
       'PREVAILING_WAGE_SOC_TITLE', 'WORK_STATE', 'WORK_STATE_ABBREVIATION',
       'WORK_POSTAL_CODE', 'FULL_TIME_POSITION_Y_N', 'VISA_CLASS',
       'PREVAILING_WAGE_PER_YEAR', 'PAID_WAGE_PER_YEAR', 'JOB_TITLE_SUBGROUP',
       'order'],
      dtype='object')