In [12]:
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
excel_salary = '/Users/pedrochavez/Desktop/salary_data_states.xlsx'
df = pd.read_excel(excel_salary)

In [14]:
print(df)

               CASE_NUMBER          CASE_STATUS CASE_RECEIVED_DATE  \
0       I-200-14073-248840               denied          3/14/2014
1            A-15061-55212               denied          3/19/2015
2       I-200-13256-001092               denied          9/13/2013
3       I-200-14087-353657               denied          3/28/2014
4       I-203-14259-128844               denied          9/16/2014
...                    ...                  ...                ...
167273  I-200-12241-209885  certified-withdrawn          8/28/2012
167274  I-200-11305-143547               denied          11/1/2011
167275  I-200-11313-833007            certified          11/9/2011
167276  I-200-11312-798611               denied          11/8/2011
167277  I-200-11297-523711               denied         10/24/2011

       DECISION_DATE                                      EMPLOYER_NAME  \
0          3/21/2014                ADVANCED TECHNOLOGY GROUP USA, INC.
1          3/19/2015                     SAN FRANCISCO STATE UNIVERSITY
2          9/23/2013                                    CAROUSEL SCHOOL
3           4/7/2014  HARLINGEN CONSOLIDATED INDEPENDENT SCHOOL DIST...
4          9/23/2014                        SIGNAL SCIENCES CORPORATION
...              ...                                                ...
167273      6/6/2013           CHINESE BIBLE CHURCH INTERNATIONAL, INC.
167274     11/3/2011           CHINESE BIBLE CHURCH INTERNATIONAL, INC.
167275    11/16/2011           CHINESE BIBLE CHURCH INTERNATIONAL, INC.
167276    11/15/2011           CHINESE BIBLE CHURCH INTERNATIONAL, INC.
167277    10/26/2011           CHINESE BIBLE CHURCH INTERNATIONAL, INC.

        PREVAILING_WAGE_SUBMITTED PREVAILING_WAGE_SUBMITTED_UNIT  \
0                      6217100.00                           year
1                      5067600.00                           year
2                      4947000.00                           year
3                       251052.00                          month
4                        84573.00                      bi-weekly
...                           ...                            ...
167273                       5.05                           hour
167274                       5.05                           hour
167275                       5.05                           hour
167276                       5.05                           hour
167277                       5.05                           hour

        PAID_WAGE_SUBMITTED PAID_WAGE_SUBMITTED_UNIT  \
0                  62171.00                     year
1                  91440.00                     year
2                  49470.00                     year
3                  43800.00                     year
4                 170000.00                     year
...                     ...                      ...
167273                 5.60                     hour
167274                 5.25                     hour
167275                 5.25                     hour
167276                 5.10                     hour
167277                 5.05                     hour

                               JOB_TITLE  ...  \
0                      SOFTWARE ENGINEER  ...
1       Assistant Professor of Marketing  ...
2              SPECIAL EDUCATION TEACHER  ...
3                        SCIENCE TEACHER  ...
4               SENIOR SOFTWARE ENGINEER  ...
...                                  ...  ...
167273            MIDDLE SCHOOL TEACHERS  ...
167274                 PRESCHOOL TEACHER  ...
167275                           TEACHER  ...
167276                 PRESCHOOL TEACHER  ...
167277                 PRESCHOOL TEACHER  ...

                                PREVAILING_WAGE_SOC_TITLE  \
0                       Software Developers, Applications
1                        Business Teachers, Postsecondary
2       Special Education Teachers, Kindergarten and E...
3              Biological Science Teachers, Postsecondary
4                   Software Developers, Systems Software
...                                                   ...
167273  Middle School Teachers, Except Special and Car...
167274       Preschool Teachers, Except Special Education
167275               Teachers and Instructors, All Other*
167276       Preschool Teachers, Except Special Education
167277       Preschool Teachers, Except Special Education

                      WORK_STATE WORK_STATE_ABBREVIATION WORK_POSTAL_CODE  \
0                       Illinois                      IL              NaN
1                     California                      CA          94132.0
2                     California                      CA              NaN
3                          Texas                      TX              NaN
4                         Oregon                      OR              NaN
...                          ...                     ...              ...
167273  Northern Mariana Islands                      MP              NaN
167274  Northern Mariana Islands                      MP              NaN
167275  Northern Mariana Islands                      MP              NaN
167276  Northern Mariana Islands                      MP              NaN
167277  Northern Mariana Islands                      MP              NaN

        FULL_TIME_POSITION_Y_N      VISA_CLASS PREVAILING_WAGE_PER_YEAR  \
0                            y            H-1B                      NaN
1                          NaN       greencard                      NaN
2                            y            H-1B                      NaN
3                            y            H-1B                      NaN
4                            y  E-3 Australian                      NaN
...                        ...             ...                      ...
167273                       y            H-1B                  10504.0
167274                       y            H-1B                  10504.0
167275                       y            H-1B                  10504.0
167276                       y            H-1B                  10504.0
167277                       y            H-1B                  10504.0

       PAID_WAGE_PER_YEAR   JOB_TITLE_SUBGROUP   order
0                 62171.0    software engineer       1
1                 91440.0  assistant professor       2
2                 49470.0              teacher       3
3                 43800.0              teacher       4
4                170000.0    software engineer       5
...                   ...                  ...     ...
167273            11648.0              teacher  167357
167274            10920.0              teacher  167358
167275            10920.0              teacher  167359
167276            10608.0              teacher  167360
167277            10504.0              teacher  167361

[167278 rows x 27 columns]

In [15]:
print(df.columns)

Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_RECEIVED_DATE', 'DECISION_DATE',
       'EMPLOYER_NAME', 'PREVAILING_WAGE_SUBMITTED',
       'PREVAILING_WAGE_SUBMITTED_UNIT', 'PAID_WAGE_SUBMITTED',
       'PAID_WAGE_SUBMITTED_UNIT', 'JOB_TITLE', 'WORK_CITY',
       'EDUCATION_LEVEL_REQUIRED', 'COLLEGE_MAJOR_REQUIRED',
       'EXPERIENCE_REQUIRED_Y_N', 'EXPERIENCE_REQUIRED_NUM_MONTHS',
       'COUNTRY_OF_CITIZENSHIP', 'PREVAILING_WAGE_SOC_CODE',
       'PREVAILING_WAGE_SOC_TITLE', 'WORK_STATE', 'WORK_STATE_ABBREVIATION',
       'WORK_POSTAL_CODE', 'FULL_TIME_POSITION_Y_N', 'VISA_CLASS',
       'PREVAILING_WAGE_PER_YEAR', 'PAID_WAGE_PER_YEAR', 'JOB_TITLE_SUBGROUP',
       'order'],
      dtype='object')

In [16]:
df['PAID_WAGE_SUBMITTED'] = pd.to_numeric(df['PAID_WAGE_SUBMITTED'], errors='coerce')

In [17]:
mean_paid_wage_by_state = df.groupby('WORK_STATE')['PAID_WAGE_SUBMITTED'].mean()

In [18]:
print(mean_paid_wage_by_state)

WORK_STATE
Alabama                      77480.674508
Alaska                       68476.740152
Arizona                      67808.084743
Arkansas                     87393.149785
California                  100754.362104
Colorado                     72696.025130
Connecticut                  73405.264187
Delaware                     68442.744519
District of Columbia         74155.368482
Florida                      67830.178217
Georgia                      70027.226126
Guam                         14459.198033
Guamam                       48557.000000
Hawaii                       68330.114529
Idaho                        65341.943011
Illinois                     73570.985642
Indiana                      61046.804848
Iowa                         74049.965138
Kansas                       80474.259330
Kentucky                     76012.848346
Louisiana                    64459.732582
Maine                        65089.111944
Maryland                     74895.280107
Massachusetts                83993.406637
Michigan                     69594.074852
Minnesota                    69131.745959
Mississippi                  76969.376327
Missouri                     72964.518366
Montana                      65990.603651
Nebraska                     71625.633211
Nevada                       76563.428759
New Hampshire                74895.162037
New Jersey                   72698.095786
New Mexico                   55228.601461
New York                     85507.647543
North Carolina               72144.631965
North Dakota                 63162.022029
Northern Mariana Islands      6893.549310
Ohio                         71161.433167
Oklahoma                     65063.466116
Oregon                       77697.427349
Palau                        60000.000000
Pennsylvania                 77877.565475
Puerto Rico                  47624.102661
Rhode Island                 71376.498561
South Carolina               60301.562009
South Dakota                 61421.447619
Tennessee                    66475.473533
Texas                        68013.333492
Utah                         74075.824201
Vermont                      70509.328321
Virgin Islands               39145.109358
Virginia                     69378.182230
Washington                   99558.113636
West Virginia               108330.809577
Wisconsin                    73448.511828
Wyoming                      63140.192000
Name: PAID_WAGE_SUBMITTED, dtype: float64

In [19]:
mean_paid_wage_by_state_sorted = mean_paid_wage_by_state.sort_values(ascending=False)
### Now that we have the mean by state we organize in Ascending (Most to Least)

In [20]:
print(mean_paid_wage_by_state_sorted)
### Paid Wage Submitted is the Lower Range of Wage Offered to the Applicant.
### In otherwords, the top five states still had a "higher" low point than other states.
### So even if offered the bare minimum in any of the top five states its a far more compelling offer than in other states.

WORK_STATE
West Virginia               108330.809577
California                  100754.362104
Washington                   99558.113636
Arkansas                     87393.149785
New York                     85507.647543
Massachusetts                83993.406637
Kansas                       80474.259330
Pennsylvania                 77877.565475
Oregon                       77697.427349
Alabama                      77480.674508
Mississippi                  76969.376327
Nevada                       76563.428759
Kentucky                     76012.848346
Maryland                     74895.280107
New Hampshire                74895.162037
District of Columbia         74155.368482
Utah                         74075.824201
Iowa                         74049.965138
Illinois                     73570.985642
Wisconsin                    73448.511828
Connecticut                  73405.264187
Missouri                     72964.518366
New Jersey                   72698.095786
Colorado                     72696.025130
North Carolina               72144.631965
Nebraska                     71625.633211
Rhode Island                 71376.498561
Ohio                         71161.433167
Vermont                      70509.328321
Georgia                      70027.226126
Michigan                     69594.074852
Virginia                     69378.182230
Minnesota                    69131.745959
Alaska                       68476.740152
Delaware                     68442.744519
Hawaii                       68330.114529
Texas                        68013.333492
Florida                      67830.178217
Arizona                      67808.084743
Tennessee                    66475.473533
Montana                      65990.603651
Idaho                        65341.943011
Maine                        65089.111944
Oklahoma                     65063.466116
Louisiana                    64459.732582
North Dakota                 63162.022029
Wyoming                      63140.192000
South Dakota                 61421.447619
Indiana                      61046.804848
South Carolina               60301.562009
Palau                        60000.000000
New Mexico                   55228.601461
Guamam                       48557.000000
Puerto Rico                  47624.102661
Virgin Islands               39145.109358
Guam                         14459.198033
Northern Mariana Islands      6893.549310
Name: PAID_WAGE_SUBMITTED, dtype: float64